<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/count.css">
  </head>
  <body>
    <form action="/add_count" method="post">
      <input type="submit" value="カウントを新規作成" class="add_count">
    </form>
    <% @count.each do |count| %>
    <h1 style="
      <% if count.number==0 %>
        color: #edda15;
        border-color: #d8d8d;
      <% elsif count.number%15==0 %>
        color: #2a6d39;
        border-color: #f8b516;
      <% elsif count.number%5==0 %>
        color: #ec6c1f;
      <% elsif count.number%3==0 %>
        color: #d01026;
        border-color: #f8b516;
      <% else %>
        color: #edda15;
      <% end %>
      <% n = count.number.abs.to_s.length %>
      <% 1.upto(n) do |num| %>
        <% if (count.number/10**(num-1)).to_i-(count.number/10**num).to_i*10==3 %>
          border-color: #f8b516;
        <% end %>
      <% end %>
    "><%= count.number %></h1>
    <form action="/count/<%= count.id %>/plus" method="post">
      <input type="submit" value="+">
    </form>
    <form action="/count/<%= count.id %>/minus" method="post">
      <input type="submit" value="-">
    </form>
    <form action="/count/<%= count.id %>/clear" method="post">
      <input type="submit" value="clear">
    </form>
    <% end %>
  </body>
</html>
